/********* :ROOT **********/

:root {

    /* FONTS */
        --standard-font-size: 20px;
        --standard-font-family: monospace, sans-serif;

    /* COLORS */
        --color-0: hsl(0, 0%, 0%);
        --color-50: hsl(0, 0%, 50%);
        --color-85: hsl(0, 0%, 85%);
        --color-95: hsl(0, 0%, 95%);
        --color-100: hsl(0, 0%, 100%);
        --color: hsl(203, 55%, 19%);

    /* STRUCTURE */

    --standard-padding: 75px;

    --body-margin: 0px;

        --navbar-height: 60px;

            --navbar-li-a-padding: calc((var(--navbar-height) - var(--standard-font-size)) / 2) 35px;

        --section-height: 100vh;

            --sidebar-width: 100px;
            --sidebar-font-size: 30px;

            --container-height: calc(100% - (var(--navbar-height) + (var(--standard-padding) * 2)));
            --container-width: calc(100% - (var(--sidebar-width) + (var(--standard-padding) * 2)));
            --container-padding: calc(var(--navbar-height) + var(--standard-padding)) var(--standard-padding) var(--standard-padding) var(--standard-padding);

}

/********* BODY *********/

body {
    margin: var(--body-margin);
    font-size: var(--standard-font-size);
    color: var(--color);

    display: flex;
    flex-flow: column nowrap;

    font-family: var(--standard-font-family);
}

body a {
    color: var(--color);
}

/********* NAVBAR *********/

#navbar ul {
    height: var(--navbar-height);

    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    box-shadow: 0px 0px 10px 0px var(--color-0);
}

#navbar li {
    float: right;
}

#navbar li a {
    padding: var(--navbar-li-a-padding);

    display: block;
    
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

#navbar li a:hover {
    background-color: var(--color-85);
}

.logo {
    width: 55px;
    border-radius: 40px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navbar h3 {
    margin-left: 90px;
    height: var(--navbar-height);
    position: fixed;
}

/********* ABOUT **********/

#about {
    height: var(--section-height);

    display: flex;
    flex-flow: row nowrap;
}

/********* WORK *********/

#work {
    height: var(--section-height);

    display: flex;
    flex-flow: row nowrap;
}

#work .container div {
    width: calc(50% - (25px * 2));
    height: calc(50% - (25px * 2));
    margin: 25px;
    font-weight: bold;
}

#work a {
    font-size: 30px;
    text-decoration: none;
}

#work .container div img {
    height: 100%;
    width: auto;
    border-radius: 20px;
    border: 5px solid var(--color)
}

#work .button {
    display: inline-block;
        background-color: #140a2d;
        color: white;
        padding: 5px 10px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

/********* BLOG *********/

#blog {
    height: var(--section-height);
    flex-direction: column;
    display: flex;
    flex-flow: row nowrap;
}

#blog .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  }

.blog-img {
    height: 50%;
    width: 100%;
    border-radius: 20px;
    border: 5px solid var(--color)
    
  }

.blog-item {
    flex: 1 1 calc(25% - 20px); /* Ensures responsive scaling */
    max-width: 25%; /* Limits width for consistent layout */
    text-align: center;
  }

/******** CONTACT *********/

#contact {
    height: var(--section-height);

    display: flex;
    flex-flow: row nowrap;
}

.contact-form {
    width: 50%;
    height: 50vh;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    background-color: white;
  }

  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .contact-form button {
    padding: 10px;
    background: purple;
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
  }

/******** SIDEBAR *********/

.sidebar {
    width: var(--sidebar-width);
    font-size: var(--sidebar-font-size);

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

/******** CONTAINER *********/

.container {
    height: var(--container-height);
    width: var(--container-width);
    padding: var(--container-padding);
}